.button {
    display: flex;
    align-items: center;
    color: #39542D;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 1rem;
    height: 43px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50px;
}

.content {
    text-align: center;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    flex-grow: 1;
}
