:root {
  --background: #f6f6f6;
  --foreground: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f6f6f6;
    --foreground: #000;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 7.5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

.title {
  font-weight: bold;
  font-size: 14pt;
  margin-bottom: 0.5rem;
  color: #263A1E;
}

.position-relative {
  position: relative;
}

.section {
  padding: 1.5rem 1.5rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.mt-5 {
  margin-top: 1.25rem;
}
