.firstSection {
    padding: 1.5rem 1.5rem;
    background-color: #466f34;
    background-image: url('../icons/Artboard 4 1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.brigadasTitle {
    font-weight: bold;
    font-size: 14pt;
    margin-bottom: 1.0rem; 
    color: #363a1e;
}

.brigadasTitleWhite {
    font-weight: bold;
    font-size: 14pt;
    margin-bottom: 2.5rem; 
    color: #ffffff;
    text-align: center;
}

.feedTitle {
    font-weight: bold;;
    font-size: 14pt;
    margin-top: 1.5rem; 
    margin-bottom: 0.5rem;
    color: #263A1E;
}

.section {
    padding: 1.5rem 1.5rem;
    color: #263A1E;
}

.filterSide {
    display: flex;
    gap: 0.7rem;
    align-items: center;
    text-align: center;
    margin-top: 1.2rem;
    width: 100%;
}

.searchBar {
    flex-grow: 1;
}

.buttonSearch{
    flex-grow: 4;
}

.footerSection {
    padding: 1.5rem 1.5rem;
    background-color: #39542D;
}

.footerTitle {
    font-weight: bold;
    font-size: 12pt;
    margin-bottom: 1.2rem; 
    color: #ffffff;
    text-align: center;
}
.footerText {
    font-weight: lighter;
    font-size: 11pt;
    color: #ffffff;
    text-align: center;
    margin-bottom: 0.5rem; 
}

.statsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eeeeee;
    padding: 1rem 0rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    gap: 0.1rem;
}

.statBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;    
    flex: 1;
    padding: 0.5rem 1rem;
}

.statBlock:not(:last-child) {
    border-right: 2px solid #d0d0d0;
}

.statNumber {
    font-size: 18pt;
    font-weight: bold;
    color: #466f34;
    line-height: 1;
    margin-bottom: 0.5rem;
}

.statLabel {
    font-size: 10pt;
    color: #39542D;
    font-weight: 400;
}
