.firstSection {
    padding: 1.5rem 1.5rem;
    background-color: #466f34;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.brigadasTitle {
    font-weight: bold;
    font-size: 14pt;
    margin-bottom: 2.5rem; 
    color: #363a1e;
}

.brigadasTitleWhite {
    font-weight: bold;
    font-size: 14pt;
    margin-bottom: 2.5rem; 
    color: #ffffff;
    text-align: center;
}

.feedTitle {
    font-weight: bold;;
    font-size: 14pt;
    margin-top: 1.5rem; 
    margin-bottom: 0.5rem;
    color: #263A1E;
}

.section {
    padding: 1.5rem 1.5rem;
    color: #263A1E;
}

.filterSide {
    display: flex;
    gap: 0.7rem;
    align-items: center;
    text-align: center;
    margin-top: 1.2rem;
    width: 100%;
}

.searchBar {
    flex-grow: 1;
}

.buttonSearch{
    flex-grow: 4;
}

.footerSection {
    padding: 1.5rem 1.5rem;
    background-color: #39542D;
}

.footerTitle {
    font-weight: bold;
    font-size: 12pt;
    margin-bottom: 1.2rem; 
    color: #ffffff;
    text-align: center;
}
.footerText {
    font-weight: lighter;
    font-size: 11pt;
    color: #ffffff;
    text-align: center;
    margin-bottom: 0.5rem; 
}
