.section {
    flex: 1;
}

.firstSection {
    flex: 1;
    padding: 1.5rem 1.5rem;
    background-color: green;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }


.brigadasTitle {
    font-weight: bold;
    font-size: 14pt;
    margin-bottom: 0.5rem; 
    color: #ffffff;
    text-align: center;
}
.feedTitle {
    font-weight: bold;
    font-size: 14pt;
    margin-top: 1.5rem; 
    margin-bottom: 0.5rem;
    color: #263A1E;
}

.section {
    padding: 1.5rem 1.5rem;
    color: #263A1E;
}

.filterSide {
    display: flex;
    gap: 0.7rem;
    align-items: center;
    text-align: center;
    margin-top: 1.2rem;
    width: 100%;
}

.searchBar {
    flex-grow: 1;
}

.buttonSearch{
    flex-grow: 4;
}
